html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.courtContainer {
  width: 700px;
  height: 700px;
  position: relative;
}

.courtImage {
  height: 34%;
  width: 70%;
  position: relative;
}

.basketballCourt {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 462px;
  margin-left: 105px;
}

.shotChart {
  z-index: 2;
  position: absolute;
}

.searchOptions {
  margin-top: 25px;
  margin-bottom: 25px;
}

.playerImage {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
